<% layout("/layouts/boilerplate") %>

<body>
    <div class="row offset-3 mt-3">
       <div class="alert alert-danger col-8" role="alert">
           <p><B>Error </B><%= message %></p>
       </div>
    </div>
</body>