<% layout("/layouts/boilerplate") %>

    <body>
        <div>
            <h3>Create a New List!</h3>
            <div class="row">
                <div class="col-md-8 col-10 offset-md-2 offset-1 ">
                    <form method="POST" action="/listing" class="needs-validation" novalidate  enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for=" title" class="form-label">Title: </label>
                            <input type="text" name="listing[title]" id="title" class="form-control" placeholder="Enter Title" required>
                            <div class="valid-feedback">Looks goods.</div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description: </label>
                            <input type="text" name="listing[description]" id="description" class="form-control" placeholder="Place Description"
                                required>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="image" class="form-label">For Image Link: </label>
                            <input type="text" name="listing[image]" id="image" class="form-control" placeholder="Only Enter Image Link/URL">
                        </div> -->
                        <div class="mb-3">
                            <label for="image" class="form-label">Uploaded image : </label>
                            <input type="file" name="listing[image]" id="image" class="form-control" required>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-4">
                                <label for="price" class="form-label">Price: </label>
                                <input type="text" name="listing[price]" id="price" class="form-control" placeholder="Enter Price valuable" required>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="location" class="form-label">Location: </label>
                                <input type="text" name="listing[location]" id="location" class="form-control" placeholder="Merrut, Utter Padesh" required>
                                <div class="invalid-feedback">please Select the valid Location.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="country" class="form-label">Country: </label>
                            <input type="text" name="listing[country]" id="country" class="form-control" placeholder="India" required>
                        </div>
                        <button   class="btnNewList offset-2 offset-md-5">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
